{:output-dir "resources/public/js", :optimizations :none, :preloads [figwheel.connect], :output-to "resources/public/js/client.js", :source-map-timestamp true, :asset-path "js", :source-map true, :external-config #:figwheel{:config {:on-jsload "sketchy.core/start", :build-id "client", :websocket-url "ws://localhost:3450/figwheel-ws"}}, :main "sketchy.core"}