body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.8em;
	background: #eaeaea;
	/* background: #eaeaea url('bg.png'); */
	color: #4d4d4d;
	width: 750px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.comments {

    font: 16px 'Helvetica Neue';
    color: #007BFF;

}

.ui-input {
        margin-left: 36%;
        align-items: center;
        justify-content: center;
    
}

.ui-header {

       margin-left: 35%;
       align-items:center;
       justify-content: center;

}
   
    
.kw-btn {
        
      margin-bottom: 12px;
      margin-right: 10px;
  
}

